/* Light theme variables */
:root {
  --navbar-banner-bg: #ae2573;
  --font-main: Arial, sans-serif;
  --font-heading: 'Arial Black', Arial, sans-serif;
  --font-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

  /* Colors */
  --primary: #ae2573;
  --purple: #5a0a96;
  --pink: #e825a6;
  --violet: #731373;
  --blue: #330072;
  --body-color: #333333;
  --bg: #f6f8fa;
  --header-bg: #ae2573;
  --header-color: #fff;
  --main-bg: #fff;
  --footer-bg: #eee;
  --footer-color: #333333;
  --theme: #fff;
  --entry: #fff;
  --secondary: #5a0a96;
  --tertiary: #e825a6;
  --content: #731373;
  --code-block-bg: #330072;
  --code-bg: #f6f8fa;
  --border: #eee;
}

/* Dark theme variables */
:root.dark-mode {
  --navbar-banner-bg: #731373;
  --font-main: Arial, sans-serif;
  --font-heading: 'Arial Black', Arial, sans-serif;
  --font-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* Colors */
  --primary: #330072;
  --purple: #ae2573;
  --pink: #e825a6;
  --violet: #5a0a96;
  --blue: #ae2573;
  --body-color: #fff;
  --bg: #121212;
  --header-bg: #731373;
  --header-color: #fff;
  --main-bg: #181a1b;
  --footer-bg: #731373;
  --footer-color: #f6f8fa;
  --theme: #121212;
  --entry: #181a1b;
  --secondary: #ae2573;
  --tertiary: #e825a6;
  --content: #5a0a96;
  --code-block-bg: #731373;
  --code-bg: #181a1b;
  --border: #731373;
}

/* List backgrounds */
.list {
  background: var(--code-bg);
}
.dark.list {
  background: var(--theme);
}

