<footer class="footer-banner" role="contentinfo">
  <div class="footer-content">
      <div class="footer-sponsors" style="margin:1rem 0; display:flex; gap:1rem; justify-content:center; align-items:center;">
        <a href="https://www.health.org.uk" target="_blank" rel="noopener" aria-label="Visit The Health Foundation website">
          <img src="/img/HF Logo.jpg" alt="The Health Foundation logo" style="height:35px;" />
        </a>
        <a href="https://www.strategyunitwm.nhs.uk" target="_blank" rel="noopener" aria-label="Visit The Strategy Unit website">
          <img src="/img/SU_Yellow.png" alt="The Strategy Unit logo " style="height:95px;" />
        </a>
        <a href="https://www.nhs.uk" target="_blank" rel="noopener" aria-label="Visit The NHS website">
          <img src="/img/NHS Logo.png" alt="NHS logo" style="height:30px;" />
        </a>
      </div>
      <div class="footer-social" style="margin:1rem 0;">
        {{ range .Site.Params.social }}
          <a href="{{ .url }}">
            <i class="{{ .icon_pack }} fa-{{ .icon }} fa-lg fa-fw"></i>
          </a>
        {{ end }}

        <a href="mailto:strategyunit.tnc@nhs.net">Contact Us</a>
        <a href="/policy/">Privacy Policy</a>
      </div>
  </div>
</footer>