<div class="navbar-banner">
  <header class="site-header">
    <nav class="site-nav">
  <a class="logo" href="/">
  <img src="/img/HACA Swirl BG.png" alt="Site Logo" style="height: 150px; display:block;" />
      </a>
      <ul class="main-menu">
        {{ range.Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  <button id="theme-toggle" aria-label="Toggle light/dark mode" style="position:fixed;top:1rem;right:1rem;z-index:999;font-size:2rem;background:none;border:none;cursor:pointer;">☀️</button>
  </header>
</div>
